@import "../../app.scss";
.navbar {
  color: white;
  font-size: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0.5) 50%
  );
  transition: background-color 0.5s ease-in-out;

  &.scrolled {
    background-color: var(--main-bg-color);
  }
  .navbarContainer {
    padding: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    .navbarLeft {
      display: flex;
      align-items: center;
      font-size: 17px;
      img {
        height: 1.7rem;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 40px;
        @include mobile {
          display: none;
        }
      }
      .navbarLink {
        text-decoration: none;
        color: white;
      }
      span {
        margin-right: 20px;
        cursor: pointer;

        @include tablet {
          margin-right: 10px;
          display: none;
        }
      }
      .navbarStay {
        @include tablet {
          display: block;
        }
      }
    }
    .navbarRight {
      display: flex;
      align-items: center;
      .rightIcon {
        margin: 0px 15px;
        cursor: pointer;
      }
      img {
        height: 1.7rem;
        border-radius: 2px;
        cursor: pointer;
      }
      .profileDropdown {
        .dropdownOptions {
          display: none;
          background-color: var(--main-bg-color);
          border-radius: 3px;
        }
        span {
          padding: 10px 15px;
          cursor: pointer;
        }
        &:hover {
          .dropdownOptions {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
    @include mobile {
      padding: 5px 30px;
    }
  }
}
